<!--<div uk-slideshow="autoplay: true;
                   autoplay-interval: 6000;
                   pause-on-hover: false;
                   animation: fade;
                   ">
    
    <ul class="uk-slideshow-items">
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                <img src="../../../assets/images/stock/sausage.jpg" alt="" uk-cover>
            </div>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                <h4 class="uk-margin-remove">Check out our menu!</h4>
                <button class="primary" routerLink="/menu">menu</button>
            </div>
        </li>
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                <img src="../../../assets/images/stock/wings.jpeg" alt="" uk-cover>
            </div>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                <h4 class="uk-margin-remove">We cater events!</h4>
                <button class="primary" routerLink="/contact">contact us</button>
            </div>
        </li>
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                <img src="../../../assets/images/sullivan/more-ribs.jpg" alt="" uk-cover>
            </div>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                <h4 class="uk-margin-remove">Homestyle Southern BBQ</h4>
                <button class="primary" routerLink="/about">meet the chef</button>
            </div>
        </li>
    </ul>

</div>-->
