<footer>
    <div class="footer-col">
        <h6>Sullivan's Heritage BBQ</h6>
        <div class="info-container">
            <span class="address">
                <div class="icon-small">
                    <img src="assets/icons/contact/address-white.svg" alt="">
                </div>
                230 Whitehorse Road, Cochranville, PA 19330
            </span>
            <span class="tele">
                <div class="icon-small">
                    <img src="assets/icons/contact/phone-white.svg" alt="">
                </div>
                610.587.1442
            </span>
            <span class="email">
                <div class="icon-small">
                    <img src="assets/icons/contact/email-white.svg" alt="">
                </div>
                <a href="mailto:redsullivan@verizon.net">redsullivan@verizon.net</a>
            </span>
          </div>
    </div>
    <div class="footer-col">
            <h6>Business Hours</h6>
            <div class="hours">
                <ul>
                    <li>
                        <span class="day">Monday:</span>
                        <span class="time">10AM - 5PM</span>
                    </li>
                    <li>
                        <span class="day">Tuesday:</span>
                        <span class="time">10AM - 5PM</span>
                    </li>
                    <li>
                        <span class="day">Wednesday:</span>
                        <span class="time">10AM - 5PM</span>
                    </li>
                    <li>
                        <span class="day">Thursday:</span>
                        <span class="time">10AM - 5PM</span>
                    </li>
                    <li>
                        <span class="day">Friday:</span>
                        <span class="time">10AM - 5PM</span>
                    </li>
                    <li>
                        <span class="day">Saturday:</span>
                        <span class="time">11AM - 7PM</span>
                    </li>
                    <li>
                        <span class="day">Sunday:</span>
                        <span class="time">Closed</span>
                    </li>
                </ul>
            </div>
    </div>
    <div class="footer-col">
            <h6>Legal</h6>
        <span class="copyright">
            &copy;
            {{ year }}
            Sullivan's Heritage Barbeque
        </span>
        <span class="rights">All Rights Reserved</span>
        <span class="designer">
            Site designed by
            <a href="https://tylerburkhardt.com/" target="_blank">tyler.burkhardt</a>
        </span>
        <span class="icons">
            Icons by
            <a href="http://www.freepik.com" target="_blank">Freepik</a>
            from
            <a href="https://www.flaticon.com" target="_blank">Flaticon</a>
        </span>
    </div>
</footer>
