<main>
    <section class="landing">
      <div class="col">
            <div class="welcome">
                <h2>Welcome to Sullivan's Heritage Barbeque!</h2>
                <p>
                    Sullivan’s Heritage Barbeque will provide its customers with a taste of home
                    with a family environment that you can share
                    with others.  We want people to feel welcomed and a part of our community as
                    they enjoy our delicacies.  It will be a hub within our community which encourages
                    families and friends to relax and enjoy great food, atmosphere, and each other.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="map" style="padding-right: 0">
                <bbq-map></bbq-map>
            </div>
        </div>
    </section>
    <section class="summary">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>North Carolina Barbeque</h4>
          </div>
          <div class="card-body heritage">
            <button class="primary">About Us</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Hungry?</h4>
          </div>
          <div class="card-body menu">
            <button class="primary">Our Menu</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Need Catering?</h4>
          </div>
          <div class="card-body contact">
            <button class="primary">Contact Us</button>
          </div>
        </div>
      </div>
    </section>
</main>
