<main>
    <section class="landing">
        <div class="col">
            <bbq-carousel></bbq-carousel>
            <div class="welcome">
                <h2>Welcome to Sullivan's Heritage Barbeque!</h2>
                <p>
                    Sullivan’s Heritage Barbeque will provide its customers with a taste of home
                    with a family environment that you can share
                    with others.  We want people to feel welcomed and a part of our community as
                    they enjoy our delicacies.  It will be a hub within our community which encourages
                    families and friends to relax and enjoy great food, atmosphere, and each other.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="map">
                <h2>Grand Opening - May 2018!</h2>
                <bbq-map></bbq-map>
            </div>
        </div>
    </section>
</main>
