@import '~variables.scss';

.card {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-shadow: $shadow-light;

    .card-header {
        flex-basis: 61px;
    }

    .card-body {
        flex: 1;
    }
}
