<main>
    <section class="menu">
        <div class="title-wrapper">
          <h1 class="page-title">Menu</h1>
        </div>

        <!-- meats -->
        <h3 class="title">Meats</h3>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Carolina Pulled Pork</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$12.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Spare Ribs (Pork)</span>
                    <span class="food-desc">Try them dry, or basted in our homemade BBQ Sauce.</span>
                </div>
                <div class="col-right">
                    <span class="price">$12.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Beef Brisket</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$12.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Barbeque Chicken Quarters</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$12.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- third row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Carolina Barbeque</span>
                    <span class="food-desc">Cooked as a whole pig.  Limited Availability.</span>
                </div>
                <div class="col-right">
                    <span class="price">$12.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Smoked Turkey</span>
                    <span class="food-desc">Limited Availability.</span>
                </div>
                <div class="col-right">
                    <span class="price">$12.50</span>
                </div>
            </div>
        </div>

        <!-- sandwiches -->
        <h3 class="title">Sandwiches</h3>
        <p class="section-desc">
            Served with three Hush Puppies or chips
        </p>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Pulled Pork</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$8.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Pulled Chicken</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$8.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Brisket</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$8.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Smoked Turkey</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$8.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- third row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Portabella Mushroom Burger</span>
                    <span class="food-desc">Can add Grilled Onion and Bleu Cheese upon request.</span>
                </div>
                <div class="col-right">
                    <span class="price">$8.50</span>
                </div>
            </div>
            <div class="menu-col">
                <!-- empty column -->
            </div>
        </div>

        <!-- sides -->
        <h3 class="title">Sides</h3>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Hush Puppies</span>
                    <span class="food-desc">The best out there - try them!</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Caroline's Cole Slaw</span>
                    <span class="food-desc">Caroliiiine she's mighty fine!</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Mango Black Bean Salad</span>
                    <span class="food-desc">Black Beans, Mango, Sweet Peppers, Corn.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Mandarin Spinach Salad</span>
                    <span class="food-desc">Spinach, Mandarin Oranges, Toasted Almonds, Celery, Green Onions.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- third row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Darlene's Macaroni &amp; Cheese</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Baked Beans</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- fourth row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Homemade Applesauce</span>
                    <span class="food-desc">Lorem Ipsum Metum</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <!-- empty column -->
            </div>
        </div>

        <!-- desserts -->
        <h3 class="title">Desserts</h3>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Granny's Banana Pudding</span>
                    <span class="food-desc">Lorem Ipsum Metum.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Peach Cobbler</span>
                    <span class="food-desc">Served with Vanilla Ice Cream.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Apple Crisp</span>
                    <span class="food-desc">Served with Vanilla Ice Cream.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Ice Cream</span>
                    <span class="food-desc">Vanilla, Chocolate, Strawberry.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
        </div>

        <!-- beverages -->
        <h3 class="title">Beverages</h3>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Iced Tea</span>
                    <span class="food-desc">Lemon, Peach, Raspberry.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Assorted Sodas</span>
                    <span class="food-desc">Coke, Diet Coke, Sprite.</span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Water</span>
                    <span class="food-desc"></span>
                </div>
                <div class="col-right">
                    <span class="price">$2.50</span>
                </div>
            </div>
            <div class="menu-col">
                <!-- empty column -->
            </div>
        </div>
    </section>
</main>
