@import '~variables.scss';

section.menu {
    animation: $content-animation;

    p.section-desc {
        font-weight: bold;
    }

    div.menu-row {
        display: flex;
        width: 100%;

        div.menu-col {
            flex: 1;
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;

            &:nth-child(1) {
                padding-left: 0;
                padding-right: 30px;
            }

            span.food-title {
                display: block;
                font-family: $font-accent;
                font-size: 24px;
                color: $color-primary;
            }

            span.food-desc {
                color: $color-dark;
            }
        }
    }
}