<main>
    <section class="contact">
      <div class="title-wrapper">
        <h1 class="page-title">Contact</h1>
      </div>

        <div class="contact-row">
            <div class="col-left">
              <div class="map-container">
                <bbq-map></bbq-map>
              </div>
            </div>
            <div class="col-right">
              <span class="address">
                <address>
                    <div class="icon-large">
                        <img src="../../../assets/icons/contact/address-white.svg" alt="">
                    </div>
                    230 Whitehorse Road, Cochranville, PA 19330
                </address>
              </span>
              <span class="tele">
                <div class="icon-large">
                    <img src="../../../assets/icons/contact/phone-white.svg" alt="">
                </div>
                610.587.1442
              </span>
              <span class="email">
                <div class="icon-large">
                    <img src="../../../assets/icons/contact/email-white.svg" alt="">
                </div>
                <a href="mailto:redsullivan@verizon.net">redsullivan@verizon.net</a>
              </span>
            </div>
        </div>

        <div class="location">
          <div class="content-wrapper" style="display: flex">
            <div class="text-container" style="flex: 2">
              <h2>Visit The Amazing Sullivan’s Heritage BBQ Trailer!</h2>
              <p>
                While
                we have a consistent menu each day, occasionally we will include some special surprises.
                We believe in creating food that is locally sourced, seasonally at its peak, and will
                have you planning your return visit before you leave.  Keep an eye on our website and
                Facebook page to see where we’ll be next – and what surprises you can expect to find
                on the menu.
              </p>
            </div>
            <div class="image-container" style="flex: 1; padding-left: 50px;">
              <img src="assets/images/stock/food-truck.jpg" alt="Food truck">
            </div>
          </div>
        </div>

        <div class="catering">
          <div class="content-wrapper" style="display: flex">
            <div class="image-container" style="flex: 1; padding-right: 50px;">
              <img src="assets/images/stock/catering.jpg" alt="Catering platter">
            </div>
            <div class="text-container" style="flex: 2">
              <h2 style="text-align: right">Let Us Cater Your Next Event!</h2>
              <p>
                We can usually be found
                on Route 41 in Cochranville, PA, but occasionally move around to cater special events.
                We would be delighted to cater your next event!  Please contact Robert and Darlene for more
                information by phone (610.587.1442), or email
                (<a href="mailto:redsullivan@verizon.net">redsullivan@verizon.net</a>).
              </p>
            </div>
          </div>
        </div>
    </section>
</main>
