<agm-map [latitude]="lat" [longitude]="long" [zoom]="12">
  <agm-marker [latitude]="lat" [longitude]="long">
      <agm-info-window [isOpen]="true">
          <h6 style="margin: 8px 0; font-size: 1rem;">Sullivan's Heritage BBQ</h6>
          <address style="margin-bottom: 4px;">230 Whitehorse Road, Cochranville, PA 19330</address>
          <a target="_blank" href="https://www.google.com/maps/place/230+White+Horse+Rd,+Cochranville,+PA+19330/@39.855626,-75.8605687,17z/data=!3m1!4b1!4m5!3m4!1s0x89c651834569bd25:0xb45c37d781d14450!8m2!3d39.8556219!4d-75.85838">
              Directions
          </a>
      </agm-info-window>
  </agm-marker>
</agm-map>