<main>
    <section class="about">
        <div class="title-wrapper">
          <h1 class="page-title">About</h1>
        </div>

        <article>
          <div class="about-heritage">
            <div style="flex: 1; display: flex; align-items: center;">
              <img src="assets/images/chef.jpg" alt="Chef Robert Sullivan">
            </div>
            <div style="flex: 3">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                The Sullivan’s barbeque heritage began many decades ago on a
                farm in North Carolina and has been going strong for three
                generations. With sixteen children, great granddaddy Sullivan
                had lots of mouths to feed and barbeque was a good way to do it!
                He passed that passion down to Pop (Billy) Sullivan who took
                that skill, perfected the recipe, and turned barbeque into an
                opportunity for family and friends to gather and celebrate.
                As a Ruritan Club member Pop started “cooking pigs” for fundraisers
                and to support the community. His kids (Robert is # 4 of 5)
                remembers as a young child helping Pop at the cooker at the
                club as people lined up get their share.
              </p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                That progressed to
                barbeque fundraisers at the Ebenezer Methodist Church
                (with his friend Robert Powell) – an annual event which became
                known far and wide. Pop helped organize the event and cooked
                over 300 pigs at a time to raise funds that would serve the
                community.  And then, there were the family “pig pickins"...
                pretty much anyone was considered family.  If you were able to
                come that day, knew how to say y’all or dawg (dog for anyone over
                the Mason Dixon line), were willing to help, and LOVED barbeque –
                you were welcome to become an honorary Sullivan.
              </p>
            </div>
          </div>
          <div class="about-chefs">
            <div style="flex: 3">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                From this heritage Robert developed his passion for barbequing
                and a love for sharing his talent with others.  Our family and
                friends all have their favorite – some love the NC style whole
                pig, some would jump off the Brooklyn Bridge to get some of his
                brisket, Darlene’s favorite is the chicken… and the ribs…. oh the
                ribs!
              </p>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Darlene married into all of this craziness and had a lot to learn.
                By definition she is a southern girl because she was born on the
                Sumter S.C. Air Force Base and she did live in Mississippi for a
                while but in reality she was one of those darn Yankees having been
                raised primarily in Wilmington, DE and Chadds Ford, PA. And
                while her family weren’t barbeque masters, they were great barbeque
                lovers – always seeking out barbeque joints on our many travels.
                The most important things for Darlene to learn were how to cook
                the hushpuppies and that famous banana pudding that Granny Sullivan
                has perfected to a science.
              </p>
            </div>
            <div style="flex: 1; display: flex; align-items: center;">
              <img src="assets/images/dar-rob.jpg" alt="Darlene and Robert Sullivan">
            </div>
          </div>
          <div class="about-logo" style="padding-bottom: 0">
            <div style="flex: 1">
              <img src="assets/images/nc-state.png" alt="NC State Logo" class="logo">
            </div>
            <div style="flex: 3; display: flex; align-items: center;">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Many people have asked about the creation of our Sullivan’s
                Heritage Barbeque logo. To begin, the Sullivan family coat of
                arms shows a pig that is half black and half white.  Obviously
                that was going to have to be included.  Robert is a rabid North
                Carolina State University fan.  The “Wolfpack” colors are red,
                black and white – which worked well into the picnic blanket theme
                for a barbeque.  And thus, the logo was born. We look forward to
                meeting you and will be happy to make you an honorary Sullivan!
              </p>
            </div>
          </div>
        </article>
    </section>
</main>
