@import '~variables.scss';

section.photos {
    animation: $content-animation;
    
    ul.photo-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        
        li.photo {
            display: inline-flex;
            padding: 5px;
    
            &:hover {
                cursor: pointer;
            }
    
            img {
                height: 210px;
                width: 270px;
            }
        }
    }

}